{* Latte template *}
{block title}
Změna hesla
{/block}
{block content}
    <div class="row">   
        <div class="col-md-12">
            <div class="form">
                <h3>Změna hesla</h3>
                {import '../components/bootstrap-form.latte'}
                {include bootstrap-form changePasswordForm}
            </div>
        </div>
    </div>
{/block}